@import "variables";
@import "mediaquery";
%title-top {
  margin: 0;
  width: 50%;
  height: 2px;
  border-radius: 5px;
  background-color: $line-color;
  @include tablet {
    width: 50%;
  }
  @include mobile{
    width: 50%;
  }
}
