@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

$first-font: "Poppins";
$second-font: "Inter";
$third-font: "Sora";

$line-color: #ab0433;
$bg-color1: #ececec;
$bg-color2: #ffffff;
$banner-color1: #252525;
$banner-color2: #EAEAEA;
